.button {
    cursor: pointer;
    border: none;

    color: white;

    text-transform: uppercase;
    font-weight: bold;

    /* FOR LINK */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    white-space: nowrap;

    --color-bg: var(--color-red);
    --color-border: var(--color-red);
}

.button[disabled] {
    cursor: not-allowed;
}

/* .button:hover:not([disabled]) {
    --color-text: white;
    --color-bg: transparent;
    --color-border: black
} */

/* THEME */

.themeDefault {
    background: var(--color-bg);
    color: var(--color-blue);
    border: 2px solid var(--color-border);
    color: white;
}

.themeWhite {
    --color-bg: white;
    --color-text: var(--color-blue);
    --color-border: var(--color-blue);
    background: var(--color-bg);
    border: 2px solid var(--color-border);
}

.themeRed {
    --color-bg: var(--color-red);
    --color-text: white;
    --color-border: white;
    background: var(--color-bg);
    border: 2px solid var(--color-border);
    color: var(--color-text);
    transition: background .25s;
}
.themeRed:hover {
    background: var(--color-red-dark);
}

.themeLink {
    background: transparent;
}

/* SIZE */

.sizeSmall {
    padding: 4px 20px;
    font-size: 12px;
    line-height: 18px;
}

.sizeDefault {
    padding: 4px 24px;

    font-size: 16px;
    line-height: 26px;
}

.sizeBig {
    padding: 16px 48px;

    font-size: 24px;
    line-height: 26px;
}

@media screen and (max-width : 480px) {
    .button {
        width: 100%;
    }

    .sizeDefault {
        padding: 8px 24px;
    }    
    .sizeBig {
        font-size: 20px;
    }
}