.container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}
.container > * {
    flex: 1 1 50%;
}

.text {
    display: flex;
    gap: 2rem;
    flex-flow: column;
}
.text p {
    margin: 0;
    color: var(--color-blue);
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .picture {
        width: 100%;
        padding: 0;
    }
    .text {
        padding: 0;
    }
}